@media screen and (max-width: 1350px) {
  .movies {
    .container {
      .video-panel {
        .item {
          width: $width-duet;
          
          iframe {
            width: 100%;
            height: 30vw;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 765px) {
  .movies {
    .container {
      .video-panel {
        .item {
          width: 100%;
          
          iframe {
            width: 100%;
            height: 65vw;
          }
        }
      }
    }
  }
}