@media screen and (max-width: 1350px) {
  
  .tags {
    margin-right: 0 !important;
    width: 100% !important;
    padding: 20px 30px !important;
    background-color: $color-background !important;
    margin-bottom: 10px !important;
   
   /* li {
       font-size: 18px;
      line-height: 190%; 
    }*/
  } 
}

@media screen and (max-width: 400px) {
  .tags {
    li {
      width: 100%;
      display: block;
    }
  }
}