.consultation {
  background-color: $color-background;
  padding-bottom: 120px;

  .container>div {
    background-color: #fff;
    display: flex;

    &>img {
      align-self: stretch;
      object-fit: cover;
    }
    
    &>div {
      padding-left: 85px;
      padding-top: 60px;

      h2 {
        margin-bottom: 20px;
      }

      h6 {
        max-width: 475px;
        margin-bottom: 30px;
      }

      #consultationForm {
        padding-bottom: 25px;
      }

      .input {
        width: 475px;
        margin-bottom: 10px;

        &.error {color: red;}
        &.error::-webkit-input-placeholder { color: red; };
        &.error::-moz-placeholder { color: red; };
      }

      textarea {
        display: block;
        resize: vertical;
        min-height: 175px;
        outline: none;
        padding: 20px 35px 18px;
        font-family: Montserrat, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        border: $border-common;

        &::-webkit-input-placeholder { color: #979797; };
        &::-moz-placeholder { color: #979797; };
      }

      .link-banner {
        padding-left: 64px;
        padding-right: 64px;
      }

    }
  }
}