.needs {
  background-color: $color-background;
  padding: 95px 0 100px;

  .container {
    .why-adviser {
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      padding-left: 80px;

      div {
        max-width: 697px;
        z-index: 1;

        h2 {
          padding-top: 65px;
          margin-bottom: 30px;
          white-space: nowrap;
        }

        p {
          margin-bottom: 50px;      
        }
      } 
    }

    .lists {
      padding-left: 80px;
      position: relative;
      top: -400px;
      margin-bottom: -350px;

      h4 {
        margin-bottom: 40px;
      }

      ul {
        display: inline-block;
        width: 27%;
        vertical-align: top;
        font-size: 0;

        li {
          display: inline-block;
          padding-left: 35px;
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 25px;
          position: relative;
          height: 44px;
  
          @include li-custom(0, 3px);  
        }
      }
    }

  }
}