.pagination {
  font-size: 24px;
  text-align: center;
  user-select: none;

  .pagination__current {
    font-weight: 700;
  }

  .pagination__delimiter {
    color: #cbccdd;
  }

  .pagination__button {
    font-size: 28px;
    font-weight: 700;
    color: $color-danger;
    border: none;
    background-color: transparent;
    padding: 0 25px;
    position: relative;
    top: 1px;
    cursor: pointer;
    outline: none;
    
    &.pagination__button--disabled {
      color: #d5d6e3;
      cursor: default;
    }
  }
}

/*   .pagination {
    display: flex;
    justify-content: center;

    a,
    div {
      width: 55px;
      height: 55px;
      border: $border-common;
      border-left: none;
      position: relative;
      cursor: pointer;

      &:first-of-type {
        border-left: $border-common;
      }

      &.active {
        background-color: $color-danger;
        border: 1px solid $color-danger;

        span {
          color: #fff;
        }
      }

      span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-weight: 600;
        color: black;
      }
    }
  } */