.service-main {
  iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;    
    width: 920px; 
    height: 620px;
  }

  .service-intro>p {
    margin-bottom: 30px;
  }

  h5 {
    font-size: 24px;
    font-weight: 700;
  }

  ul {
    margin-left: 30px;
    
    li {
      @include li-squareRed;
      margin-bottom: 13px;
    }
  }

  .specialForPlan {
    display: flex;

    ul.specialForPlan__ul {
      margin-left: 0;
      flex-basis: 50%;
      
      li {
        color: black;
        font-size: 18px;
        list-style: none;
        background: url('../images/service-pages/li-mark.svg') no-repeat;
        background-size: 30px;
        padding-left: 45px;
      }    
    }
  }

 

  ul.consult-stages {
    margin-left: 0;
    
    li {
      list-style: none;
      display: block;
      background-color: #fff;
      border-radius: 10px;

      .consult-stages-main {
        display: flex;
        justify-content: space-between;
        padding: 20px 48px 20px 28px;
        align-items: center;

        .consult-stages-background {
        @include round-background;
        min-width: 32px;
        align-self: flex-start;

          span {
            color: white;
            font-size: 16px;
            font-weight: 600;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .consult-stages-heading {
          font-weight: 600;
          flex-grow: 1;
          margin-left: 30px;
          margin-right: 10px;
        }

        .consult-stages__arrows {
          position: relative;
          width: 40px;
          height: 30px;
          cursor: pointer;

          img {
            width: 22px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      .consult-stages-addition {
        color: black;
        font-size: 16px;
        line-height: 24px;
        padding: 10px 120px 40px 90px;
      }      
    }    
  }

  ul.consult-costs-n-terms {
    li {
      border-radius: 0;
      padding-top: 30px;  
      margin-bottom: 0;    

      .consult-stages-main {
       padding-top: 5px;
       padding-bottom: 5px;

       img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
       }
      }

      p {
        color: #c0b7b7;
        font-size: 14px;
        padding: 20px 120px 20px 30px;
      }
    }
  }

  .costs-n-terms-complex {
    background-color: white;
    display: flex;
    flex-wrap: wrap;

    .consult-costs-n-terms--complex {
      flex-basis: calc(50% - 1px);

      h5 {
        color: black;
        padding-left: 33px;
        margin-top: 10px;
        margin-bottom: 15px;
      }

      p {
        line-height: 24px;
        font-size: 16px;
        color: black;
      }

      &:last-of-type {
        padding-left: 5%;
      }
    }

    .costs-n-terms-divider {
      flex-basis: 2px;
      align-self: stretch;
      border-left: $border-common;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    &>p {
      flex-basis: 100%;
      text-align: center;
      font-size: 14px;
      line-height: 22px;
      color: #8f8f8f;
      margin-top: 20px;
      margin-bottom: 30px;
      padding-right: 5px;
    }

  }
}