.service-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .service-panel__item {
    // flex-basis: 49%;
    width: 49%;
    background-color: #fff;
    display: flex;
    padding: 20px;
    margin-bottom: 25px;

    iframe {
      min-width: 325px;
      height: 245px;
    }

    &>div {
      padding: 15px 0 0 45px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;

      p {
        font-size: 16px;
        line-height: 20px;
        flex-grow: 1;
        margin-top: 15px;
      }

      .go-banner {
        padding: 0 10px 0 0;
      }
    }
  }
}