.tags {
  
  li {
    display: inline;
    font-size: 14px;
    color: #969696;
    margin-right: 30px;
    cursor: pointer;

    &:hover,
    &.active {
      color: $color-danger;
    }
  } 
}